/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --primary-color: #454545;
  --secondary-color: #fff;
  --light-color: #cfcfce;

  --bg-color: #222222;
  --bg-light-color: #f5f5f5;
  --bg-shadow-color: rgba(11, 8, 8, 0.7);
  --bg-light-shadow-color: rgba(0, 0, 0, 0.5);

  --shadow-color: rgba(197, 197, 197, 0.5);
  --line-color: var(--primary-color);

  --highlight-color: #1acc8d;
  --light-highlight-color: #2be4a2;
  --very-light-highlight-color: #d2f9eb;

  --error-color: #f00;
  --success-color: var(--highlight-color);
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-color);
}

a {
  color: var(--highlight-color);
}

a:hover {
  color: var(--light-highlight-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background-color: var(--very-light-highlight-color);
  text-shadow: none !important;
}

::-moz-selection {
  background-color: var(--very-light-highlight-color);
  text-shadow: none !important;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: var(--secondary-color);
}

#preloader:before {
  content: '';
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--highlight-color);
  border-top-color: var(--very-light-highlight-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99998;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--highlight-color);
  color: var(--secondary-color);
  transition: all 0.4s;
}

.back-to-top i:hover {
  background-color: var(--light-highlight-color);
}

/*--------------------------------------------------------------
# Social links
--------------------------------------------------------------*/
.social-links a {
  font-size: 25px !important;
  display: inline-block !important;
  color: var(--secondary-color);
  line-height: 1;
  padding: 6px 0 !important;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.social-links a:hover {
  background-color: var(--highlight-color);
  color: var(--secondary-color) !important;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  z-index: 997;
  transition: all 0.5s;
}

#header.header-scrolled {
  background-color: var(--bg-color);
  height: 60px;
}

#header .mobile {
  margin-left: 0;
  transition: all 0.5s;
}

#header.header-mobile-nav {
  background-color: var(--bg-color);
}

#header .logo a {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  margin: 0;
  padding: 0 0 0 5px;
  line-height: 1;
  font-weight: 700;
  color: var(--secondary-color);
}

#header .logo .avatar {
  background-color: var(--highlight-color);
  border-radius: 4px;
  width: 2rem;
  height: 2rem;
  display: table;
  padding: 0;
  margin: 0 0.3em 0 0;
  font-size: 18px;
  font-weight: 600;
}

#header .logo .avatar span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 0.1em;
}

@media (max-width: 1199px) {
  #header .logo a {
    font-size: 18px;
  }
}

@media (max-width: 990px) {
  #header {
    height: 64px;
  }
  #header .logo a {
    font-size: 21px;
  }
}

/*--------------------------------------------------------------
# Navigation menu
--------------------------------------------------------------*/
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
  margin: 10px 0 10px 25px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: var(--light-color);
  font-size: 15px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
}

.nav-menu > ul > li > a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 25px;
  bottom: 0;
  left: 0;
  background-color: var(--highlight-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .active > a:before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: var(--secondary-color);
  text-decoration: none;
}

.nav-menu .social-links {
  display: none;
}

/*--------------------------------------------------------------
# Mobile navigation
--------------------------------------------------------------*/
.mobile-nav {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  overflow-y: auto;
  background-color: var(--bg-color);
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  transition: ease-in-out 0.4s;
  transform: translateX(100%);
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: var(--secondary-color);
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: var(--highlight-color);
  text-decoration: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
  transform: translateX(0) !important;
}

.mobile-nav-toggle {
  position: fixed;
  top: 18px;
  right: 15px;
  z-index: 99998;
  border: 0;
  background: none;
  outline: none !important;
  width: 30px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.mobile-nav-toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.mobile-nav-toggle span:nth-child(1) {
  top: 0px;
}

.mobile-nav-toggle span:nth-child(2),
.mobile-nav-toggle span:nth-child(3) {
  top: 10px;
}

.mobile-nav-toggle span:nth-child(4) {
  top: 20px;
}

.mobile-nav-toggle.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.mobile-nav-toggle.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-nav-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobile-nav-toggle.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.mobile-nav .social-links {
  display: block;
  border-top: 1px solid var(--line-color);
  text-align: center;
  margin: 20px;
  padding-top: 20px;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero {
  width: 100%;
  position: relative;
  padding: 100px 0 20px 0;
  background: url('../img/backgrounds/hero.jpg');
  background-size: cover;
  background-position: center 20%;
}

#hero:before {
  content: '';
  background-color: var(--bg-light-shadow-color);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#hero .container {
  text-align: center;
}

#hero h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 56px;
  color: var(--secondary-color);
  padding: 0;
  margin: 0;
}

#hero h2 {
  color: var(--secondary-color);
  font-size: 18px;
  margin: -5px 0 20px 0;
}

#hero .hero-img img {
  border-radius: 50%;
  overflow: hidden;
  max-width: 200px;
}

@media (max-width: 991px) {
  #hero {
    padding-top: 80px;
  }
  #hero .hero-img img {
    max-width: 50%;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Technical skills
--------------------------------------------------------------*/
#technical-skills {
  padding: 40px 0 20px 0;
}

#technical-skills .content + .content {
  margin-top: 50px;
}

#technical-skills .icon-boxes h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

#technical-skills .icon-box {
  margin-top: 40px;
}

#technical-skills .icon-box:first-child {
  margin-top: 0;
}

#technical-skills .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid var(--highlight-color);
  border-radius: 50px;
  transition: 0.5s;
}

#technical-skills .icon-box .icon i {
  color: var(--highlight-color);
  font-size: 32px;
}

#technical-skills .icon-box:hover .icon {
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
}

#technical-skills .icon-box:hover .icon i {
  color: var(--secondary-color);
}

#technical-skills .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

#technical-skills .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

@media (max-width: 767px) {
  #technical-skills .content + .content {
    margin-top: 10px;
  }

  #technical-skills .container > .section-title + .row .icon-boxes {
    margin-top: 30px;
  }

  #technical-skills .container > .section-title + .row + .row .icon-boxes {
    margin-top: 20px;
  }
}

/*--------------------------------------------------------------
# Call to action
--------------------------------------------------------------*/
#call-to-action {
  background-color: var(--bg-color);
  background-size: cover;
  padding: 40px 0;
}

#call-to-action h3 {
  color: var(--secondary-color);
  font-size: 28px;
  font-weight: 700;
}

#call-to-action p {
  color: var(--secondary-color);
}

#call-to-action .btn-container a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  border: 3px solid var(--secondary-color);
  color: var(--secondary-color);
}

#call-to-action .btn-container a:hover {
  background-color: var(--highlight-color);
  border: 3px solid var(--highlight-color);
}

@media (max-width: 1199px) {
  #call-to-action {
    margin-top: 20px;
  }
}

@media (min-width: 991px) {
  #call-to-action .btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Personal skills
--------------------------------------------------------------*/
#personal-skills {
  background-color: var(--bg-light-color);
}

#personal-skills .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--secondary-color);
  border: 1px solid var(--light-color);
  border-radius: 0.75rem;
  transition: ease-in-out 0.3s;
  box-shadow: 0 10px 20px 0 var(--shadow-color);
}

#personal-skills .icon-box:hover {
  transform: scale(1.1);
}

#personal-skills .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
  color: var(--highlight-color);
}

#personal-skills .icon-box h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Recommendations
--------------------------------------------------------------*/
#recommendations {
  padding: 80px 0;
  position: relative;
  background: url('../img/backgrounds/recommendations.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
}

#recommendations::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-shadow-color);
}

#recommendations .recommendation-item {
  text-align: center;
  color: var(--secondary-color);
}

#recommendations .recommendation-item .recommendation-img {
  width: 100px;
  border-radius: 50%;
  border: 4px solid var(--shadow-color);
  margin: 0 auto;
}

#recommendations .recommendation-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: var(--secondary-color);
}

#recommendations .recommendation-item h4 {
  font-size: 14px;
  color: var(--light-color);
  margin: 0 0 15px 0;
}

#recommendations .recommendation-item .quote-icon-left,
#recommendations .recommendation-item .quote-icon-right {
  color: var(--shadow-color);
  font-size: 26px;
}

#recommendations .recommendation-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

#recommendations .recommendation-item .quote-icon-right {
  display: inline-block;
  top: 10px;
  right: -5px;
  position: relative;
}

#recommendations .recommendation-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: var(--secondary-color);
}

#recommendations .owl-nav,
#recommendations .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#recommendations .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--shadow-color) !important;
}

#recommendations .owl-dot.active {
  background-color: var(--highlight-color) !important;
}

@media (min-width: 992px) {
  #recommendations .recommendation-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact .info i {
  font-size: 20px;
  color: var(--highlight-color);
  float: left;
  width: 44px;
  height: 44px;
  background-color: var(--bg-light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

#contact .info h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  padding: 0 0 0 60px;
}

#contact .info p {
  font-size: 14px;
  padding: 0 0 0 60px;
  margin-bottom: 0;
}

#contact .info .email,
#contact .info .phone {
  margin-top: 40px;
}

#contact .info .email:hover i,
#contact .info .address:hover i,
#contact .info .phone:hover i {
  background-color: var(--highlight-color);
  color: var(--secondary-color);
}

#contact .contact-form .form-group {
  padding-bottom: 8px;
}

#contact .contact-form .validate {
  display: none;
  color: var(--error-color);
  margin: 5px 0 0 5px;
  font-weight: 400;
  font-size: 13px;
}

#contact .contact-form .validate i {
  margin-right: 5px;
  font-size: 18px;
}

#contact .contact-form .validate .message {
  vertical-align: top;
}

#contact .contact-form .error-message {
  display: none;
  color: var(--secondary-color);
  background-color: var(--error-color);
  text-align: center;
  padding: 15px;
  font-weight: 600;
  border-radius: 0.5rem;
}

#contact .contact-form .error-captcha {
  display: none;
  color: var(--error-color);
}

#contact .contact-form .sent-message {
  display: none;
  color: var(--secondary-color);
  background-color: var(--success-color);
  text-align: center;
  padding: 15px;
  font-weight: 600;
  border-radius: 0.5rem;
}

#contact .contact-form .loading {
  display: none;
  text-align: center;
  padding: 15px;
}

#contact .contact-form .loading:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--highlight-color);
  border-top-color: var(--very-light-highlight-color);
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#contact .contact-form input,
#contact .contact-form textarea {
  border-radius: 0.5rem;
  box-shadow: none;
  font-size: 14px;
  padding: 2rem;
}

#contact .contact-form input.error,
#contact .contact-form textarea.error {
  border-color: var(--error-color);
}

#contact .contact-form input {
  height: 44px;
}

#contact .contact-form textarea {
  padding: 2rem;
}

#contact .contact-form input:focus,
#contact .contact-form textarea:focus {
  border-color: var(--highlight-color);
}

#contact .contact-form button[type='submit'] {
  background-color: var(--highlight-color);
  border: 0;
  padding: 10px 30px;
  color: var(--secondary-color);
  transition: 0.4s;
  border-radius: 50px;
}

#contact .contact-form button[type='submit']:hover {
  background-color: var(--light-highlight-color);
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background-color: var(--bg-color);
  padding: 0 0 30px 0;
  color: var(--secondary-color);
  font-size: 14px;
}

#footer .footer-top {
  padding: 10px 0 10px 0;
  text-align: center;
}

#footer .copyright {
  border-top: 1px solid var(--line-color);
  text-align: center;
  padding-top: 20px;
}
